[submodule "Core"]
	path = Packages/com.juvenile.games.core
	url = https://github.com/JuveNILE-games/Core
[submodule "NetCore"]
	path = Packages/com.juvenile.games.netcore
	url = https://github.com/JuveNILE-games/NetCore
